<p-scroll-panel class="w-full h-full">
  <p-data-view [value]="mods">
    <ng-template #list>
      @for (mod of mods; track mod.id) {
        @if ((!options?.showRequired && mod.required && !mod.present) ||
        (!options?.showOptional && !mod.required && !mod.present) ||
        (!options?.showInstalled && mod.present)) {
          <!-- Skip rendering this mod -->
        } @else {
          <div class="flex flex-row mb-3">
            <div class="mr-4 flex flex-col items-center">
              <img [src]="mod.iconURL" alt="logo for {{ mod.name }}" width="64" height="64"/>
            </div>
            <div class="flex flex-col">
              <h3>{{ mod.name }}</h3>
              <div>
                @if (mod.present) {
                  <p-tag i18n-value value="Version: {{mod.presentVersion}}" severity="success"/>
                } @else if (mod.required) {
                  <p-tag i18n-value value="Requires: {{mod.requiredVersion}}" severity="danger"/>
                } @else {
                  <p-tag i18n-value value="Optional: {{mod.requiredVersion}}" severity="warn"/>
                }
              </div>
            </div>
          </div>
        }
      }
    </ng-template>
  </p-data-view>
</p-scroll-panel>
