name: Wails build

on:
  push:
    tags:
      - 'v*.*.*'

env:
  NODE_OPTIONS: "--max-old-space-size=4096"

jobs:
  build:
    strategy:
    # Failure in one platform build won't impact the others
      fail-fast: false
      matrix:
        build:
          - name: 'modpackgraph'
            platform:  'linux/amd64'
            os: 'ubuntu-latest'
          - name: 'modpackgraph'
            platform:  'windows/amd64'
            os: 'windows-latest'

    runs-on: ${{ matrix.build.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build wails
        uses: snider/build/actions/build/wails2@v3
        id: build
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          nsis: true
          wails-version: '2.11.0'
          go-version: '1.23'
